<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="assets/css/main.css" />
    </head>
    <body>
        <header class="header container">
            <a href="#">
                <img src="assets/images/svg/logo.svg" alt="logo" data-svg />
            </a>
            <nav>
                <ul class="main-nav-list">
                    <li><a class="link" href="#">Blog</a></li>
                    <li><a class="link" href="#">About</a></li>
                    <li>
                        <a class="link link--icon" href="#">
                            <img
                                class="icon search-icon"
                                src="assets/images/svg/icon/search-icon.svg"
                                alt="search-icon"
                                data-svg
                            />
                        </a>
                    </li>
                    <li><a class="btn btn--primary" href="#">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section class="section-hero">
                <div class="hero-container container">
                    <div class="hero-text-box">
                        <p class="hero-label p-sm">Featured Post</p>
                        <h1 class="heading-primary">
                            How AI will Change the Future
                        </h1>
                        <p class="hero-text p-sm">
                            The future of AI will see home robots having
                            enhanced intelligence, increased capabilities, and
                            becoming more personal and possibly cute. For
                            example, home robots will overcome navigation,
                            direction
                        </p>
                        <a class="btn btn--on-primary" href="#"> Read more </a>
                    </div>
                    <div class="hero-img-box">
                        <img
                            alt="AI Concept Image"
                            src="assets/images/content/hero/hero-img.jpg"
                        />
                    </div>
                </div>
            </section>
            <section class="section-highlight container">
                <article class="post">
                    <a href="#" class="post-img">
                        <img
                            src="assets/images/content/post/a-man-playing-vr.jpg"
                            alt="A man playing VR"
                        />
                    </a>
                    <div class="post-content">
                        <span class="post-category">Development</span>
                        <time class="post-date">16 March 2026</time>
                        <h2 class="post-title">
                            <a class="link" href="#">
                                How to make a Game look more attractive with New
                                VR & AI Technology
                            </a>
                        </h2>
                        <p class="post-description p-sm">
                            Google has been investing in AI for many years and
                            bringing its benefits to individuals, businesses and
                            communities. Whether it’s publishing
                            state-of-the-art research, building helpful products
                            or developing tools and resources that enable
                            others, we’re committed to making AI accessible to
                            everyone.
                        </p>
                        <a class="btn btn--outline-primary" href="#">
                            Read more
                        </a>
                    </div>
                </article>
            </section>
            <section class="section-recent container">
                <header class="section-header">
                    <h2 class="section-title">Our Recent Posts</h2>
                    <a class="btn btn--primary" href="#">View All</a>
                </header>
                <article class="post post--recent">
                    <a href="#" class="post-img">
                        <img
                            src="assets/images/content/post/a-man-playing-vr.jpg"
                            alt="A man playing VR"
                        />
                    </a>
                    <div class="post-content">
                        <span class="post-category">Development</span>
                        <time class="post-date">16 March 2026</time>
                        <h3 class="post-title">
                            <a class="link" href="#">
                                How to make a Game look more attractive with New
                                VR & AI Technology
                            </a>
                        </h3>
                        <p class="post-description p-sm">
                            Google has been investing in AI for many years and
                            bringing its benefits to individuals, businesses and
                            communities. Whether it’s publishing
                            state-of-the-art research, building helpful products
                            or developing tools and resources that enable
                            others, we’re committed to making AI accessible to
                            everyone.
                        </p>
                        <a class="btn btn--outline-primary" href="#">
                            Read more
                        </a>
                    </div>
                </article>
                <div class="post-grid">
                    <article class="post">
                        <a href="#" class="post-img">
                            <img
                                src="assets/images/content/post/small-plane-and-beach.jpg"
                                alt="Small plane and beach"
                            />
                        </a>
                        <div class="post-content">
                            <span class="post-category">Travel</span>
                            <time class="post-date">13 March 2026</time>
                            <h3 class="post-title">
                                <a class="link" href="#"
                                    >8 Rules of Travelling In Sea You Need To
                                    Know</a
                                >
                            </h3>
                            <p class="post-description p-sm">
                                Travelling in sea has many advantages. Some of
                                the advantages of transporting goods by sea
                                include: you can ship large volumes at costs
                            </p>
                            <a class="post-read-more" href="#">
                                Read more...
                            </a>
                        </div>
                    </article>
                    <article class="post">
                        <a href="#" class="post-img">
                            <img
                                src="assets/images/content/post/office-desk-setup.jpg"
                                alt="Office desk setup"
                            />
                        </a>
                        <div class="post-content">
                            <span class="post-category">Development</span>
                            <time class="post-date">11 March 2026</time>
                            <h3 class="post-title">
                                <a class="link" href="#">
                                    How to build strong portfolio and get a Job
                                    in UI/UX
                                </a>
                            </h3>
                            <p class="post-description p-sm">
                                Capitalize on low hanging fruit to identify a
                                ballpark value added activity to beta test.
                                Override the digital divide with additional
                                clickthroughs from
                            </p>
                            <a class="post-read-more" href="#">
                                Read more...
                            </a>
                        </div>
                    </article>
                    <article class="post">
                        <a href="#" class="post-img">
                            <img
                                src="assets/images/content/post/white-soccer-ball-beside-net-goal.jpg"
                                alt="White soccer ball beside net goal"
                            />
                        </a>
                        <div class="post-content">
                            <span class="post-category">Sports</span>
                            <time class="post-date">10 March 2026</time>
                            <h3 class="post-title">
                                <a class="link" href="#">
                                    How to Be a Professional Footballer in 2023
                                </a>
                            </h3>
                            <p class="post-description p-sm">
                                Organically grow the holistic world view of
                                disruptive innovation via workplace diversity
                                and empowerment. survival strategies to ensure
                                proactive
                            </p>
                            <a class="post-read-more" href="#">
                                Read more...
                            </a>
                        </div>
                    </article>
                </div>
            </section>
            <section class="section-popular container">
                <header class="section-header">
                    <h2 class="section-title">Popular Posts</h2>
                    <a class="btn btn--primary" href="#">View All</a>
                </header>
                <div class="post-grid">
                    <article class="post">
                        <a href="#" class="post-img">
                            <img
                                src="assets/images/content/post/yellow-train-on-rail-tracks.jpg"
                                alt="Yellow train on rail tracks"
                            />
                        </a>
                        <div class="post-content">
                            <span class="post-category">Travel</span>
                            <time class="post-date">13 March 2026</time>
                            <h3 class="post-title">
                                <a class="link" href="#">
                                    Train Or Bus Journey?Which one suits?
                                </a>
                            </h3>
                            <p class="post-description p-sm">
                                The choice between a train or bus journey
                                depends on various factors such as the distance
                                of the journey, the time available, the cost,
                                and person
                            </p>
                            <a class="post-read-more" href="#">
                                Read more...
                            </a>
                        </div>
                    </article>
                    <article class="post">
                        <a href="#" class="post-img">
                            <img
                                src="assets/images/content/post/macbook-showing-vegetable-dish.jpg"
                                alt="Macbook showing vegetable dish"
                            />
                        </a>
                        <div class="post-content">
                            <span class="post-category">Development</span>
                            <time class="post-date">11 March 2026</time>
                            <h3 class="post-title">
                                <a class="link" href="#">
                                    Best Website to research for your next
                                    project
                                </a>
                            </h3>
                            <p class="post-description p-sm">
                                Capitalize on low hanging fruit to identify a
                                ballpark value added activity to beta test.
                                Override the digital divide with additional
                                clickthroughs
                            </p>
                            <a class="post-read-more" href="#">
                                Read more...
                            </a>
                        </div>
                    </article>
                    <article class="post">
                        <a href="#" class="post-img">
                            <img
                                src="assets/images/content/post/man-jumping-on-railings.jpg"
                                alt="Man jumping on railings"
                            />
                        </a>
                        <div class="post-content">
                            <span class="post-category">Sports</span>
                            <time class="post-date">10 March 2026</time>
                            <h3 class="post-title">
                                <a class="link" href="#">
                                    How to Be a Dancer in 2023 with proper
                                    skills?
                                </a>
                            </h3>
                            <p class="post-description p-sm">
                                Organically grow the holistic world view of
                                disruptive innovation via workplace diversity
                                and empowerment. survival strategies to ensure
                                proactive
                            </p>
                            <a class="post-read-more" href="#">
                                Read more...
                            </a>
                        </div>
                    </article>
                    <article class="post">
                        <a href="#" class="post-img">
                            <img
                                src="assets/images/content/post/man-singing.jpg"
                                alt="Man singing"
                            />
                        </a>
                        <div class="post-content">
                            <span class="post-category">Entertainment</span>
                            <time class="post-date">10 February 2026</time>
                            <h3 class="post-title">
                                <a class="link" href="#">
                                    Who is the best singer on chart?Know him?
                                </a>
                            </h3>
                            <p class="post-description p-sm">
                                chart by Billboard which ranks the all-time
                                greatest artists based on their performance on
                                the weekly Billboard Hot 100 and
                            </p>
                            <a class="post-read-more" href="#">
                                Read more...
                            </a>
                        </div>
                    </article>
                    <article class="post">
                        <a href="#" class="post-img">
                            <img
                                src="assets/images/content/post/man-using-smartphone-on-chair.jpg"
                                alt="Man using smartphone on chair"
                            />
                        </a>
                        <div class="post-content">
                            <span class="post-category">Business</span>
                            <time class="post-date">9 February 2026</time>
                            <h3 class="post-title">
                                <a class="link" href="#">
                                    How to start export import business from
                                    home?
                                </a>
                            </h3>
                            <p class="post-description p-sm">
                                This business involves buying goods or services
                                from one country and selling them in another,
                                connecting global markets and enabling
                                international trade.
                            </p>
                            <a class="post-read-more" href="#">
                                Read more...
                            </a>
                        </div>
                    </article>
                    <article class="post">
                        <a href="#" class="post-img">
                            <img
                                src="assets/images/content/post/milk-and-chocolate.jpg"
                                alt="Milk and chocolate"
                            />
                        </a>
                        <div class="post-content">
                            <span class="post-category">Nutrition</span>
                            <time class="post-date">8 February 2026</time>
                            <h3 class="post-title">
                                <a class="link" href="#">
                                    Make some drinks with chocolates and milk
                                </a>
                            </h3>
                            <p class="post-description p-sm">
                                Delicious drinks made with milk and chocolate.
                                Perfect for cozy moments and sweet cravings.
                                Also smooth flavors for every mood and season.
                            </p>
                            <a class="post-read-more" href="#">
                                Read more...
                            </a>
                        </div>
                    </article>
                </div>
            </section>
            <section class="section-cta">
                <h2 class="cta-heading">
                    Get our stories delivered From us to your inbox weekly.
                </h2>
                <form class="form-signup">
                    <input
                        type="email"
                        class="form-signup-input"
                        name="email"
                        placeholder="Your Email"
                        required
                    />
                    <button
                        type="submit"
                        class="btn btn--outline-on-primary form-signup-btn"
                    >
                        Get Started
                    </button>
                </form>
                <p class="p-sm cta-text">
                    Get a response tomorrow if you submit by 9pm today. If we
                    received after 9pm will get a reponse the following day.
                </p>
            </section>
        </main>
        <footer class="footer container">
            <a href="#" class="footer-logo">
                <img src="assets/images/svg/logo.svg" alt="logo" data-svg />
            </a>
            <nav class="footer-nav footer-nav--internal">
                <ul class="footer-nav-list">
                    <li><a class="link" href="#">Home</a></li>
                    <li><a class="link" href="#">Blog</a></li>
                    <li><a class="link" href="#">About</a></li>
                    <li><a class="link" href="#">Contact Us</a></li>
                </ul>
            </nav>
            <nav class="footer-nav footer-nav--external">
                <ul class="footer-nav-list">
                    <li><a class="btn btn--primary" href="#">FB</a></li>
                    <li><a class="btn btn--primary" href="#">IG</a></li>
                    <li><a class="btn btn--primary" href="#">LN</a></li>
                    <li><a class="btn btn--primary" href="#">YT</a></li>
                </ul>
            </nav>
            <p class="p-sm">&copy; 2026 Alborz Asadi. All rights reserved.</p>
            <p class="p-sm">Design &copy; Ideapeel Inc.</p>
        </footer>
        <script src="assets/js/main.js"></script>
    </body>
</html>
